.cs1{
    height: 300px;
    width: 600px;
    border: 2px solid black;
}



.cs2{
    height: 100px;
    width: 100px;
    border: 1px solid black;
   margin-top: 20px;
}

.cs2 img{
    height: 100%;
    width: 100%;
}